@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@font-face {
    font-family: doddger;
    src: url(assets/dodger3_1.otf); 
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
margin: 0;
padding: 0;
font-family: 'Open Sans';
scroll-behavior: smooth;
}

body {
    color: white;
    animation: carregar 0.8s;
    background: linear-gradient(90deg, #06141b, #090003);
}

@keyframes carregar {
0% {
opacity: 0;
margin-right: 1000px;
}
100% {
opacity: 1;
}
}

.loginsection {
background: linear-gradient(180deg, white, black);
width: 1250px;
height: 600px;
margin: 100px auto;
display: flex;
box-shadow: black, 5px, 5px, 5px;
}

.login-img{
background-color: #fff;
color: rgb(104, 27, 27);
width: 750px;
font-size: 18px;
border-bottom-left-radius: 20px;
border-top-left-radius: 20px;
}

.login-img p {
margin: auto;
width: 500px;
}

.login-img img {
width: 400px;
margin: 0px 150px;
color: #fff;
border-radius: 20px;
}

.login {
border-top-left-radius: 15%;
border-bottom-right-radius: 10%;
width: 500px;
background-color: rgb(28, 28, 39);
text-align: center;
font-size: 20px
}

.login h1 {
margin-right: 280px;
margin-top: 70px;
}

.login h2 {
margin-bottom: 60px;
}

.login h3 {
margin-bottom: 20px;
}

.user input {
margin-top: 20px;
border: none;
width: 350px;
background-color: transparent;
border-bottom: solid 2px red;
color: white;
font-size: 20px;
}

.user input:focus {
outline: none;
color: white;
font-size: 20px;
}

::placeholder {
font-size: 20px;
color: rgb(174, 38, 38);
}

.senha input {
margin-top: 40px;
border: none;
width: 350px;
background-color: transparent;
border-bottom: solid 2px red;
color: white;
font-size: 20px;
    }
    
.senha input:focus {
outline: none;
border: none;
    }
    
.btn-login {
height: 40px;
width: 200px;
background-color: red;
border: none;
margin-top: 50px;
color: #fff;
font-size: 20px;
border-radius: 20px;
}

.btn-login:hover {
transition: 0.8s;
transform: scale(1.2);
cursor: pointer;
}

.criar {
width: 150px;
margin: 20px auto;
border-bottom: solid 1px red;
color: white;
cursor: pointer;
}