


#imagePreview {
    max-width: 100%;
    height: 300px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.612);
    margin-top: 20px;
}

.addPform {
 height: 600px;
 width: 450px;
 background-color: rgb(28, 28, 39);
 margin: 100px auto;
 text-align: center;
 align-items: center;
 display: flex;
 flex-direction: column;
}

.inp-text {
 border: none;
 font-size: 18px;
 width: 80%;
 height: 30px;
 margin: 20px;
 background-color:rgb(28, 28, 39);
 border-bottom: 1px solid red;
 color: white;
}

.inp-text:focus {
 border-bottom: 1px solid red;
 outline: none;
}

#uploadButton {
margin-top: 20px;
height: 30px;
width: 130px;
background-color: red;
border: none;
color: white;
font-size: 18px;
border-radius: 20px;
cursor: pointer;
transition: 0.5s;
}

#uploadButton:hover {
transform: scale(1.2);
transition: 0.2;
background-color:rgb(28, 28, 39);
border: 1px solid white;
}

.add {
height: 50px;
width: 200px;
border: none;
background-color: red;
color: white;
font-size: 18px;
cursor: pointer;
transition: 0.5s;
}

.add:hover {
    transform: scale(1.2);
    transition: 0.2;
    background-color:rgb(28, 28, 39);
    border: 1px solid white;
    }