


.home {
color: rgb(255, 255, 255);
display: flex;
margin: 0px 200px;
height: 100vh;

}

.text-anim {
font-size: 40px;
color: white;
font-family: 'outfit';
}

.span-anim {
font-size: 40px;
color: white;
font-family: 'outfit';
position: relative;
color: #ff0000;
}

.span-anim::after {
 content: '';
 position: absolute;
 height: 100%;
 border-left: 2px solid white;
 right: -10px;
 opacity: 1;
 animation: cursor .6s infinite, digita 25s steps(25) infinite;
 width: calc(100% + 8px);
 background-color: rgb(16, 10, 16);
 height: 100%;
 z-index: 1;
}

@keyframes cursor {
0% {
    border-left: 2px solid rgb(16, 10, 16);
}
}

@keyframes digita {
10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
 width: 0;
}
 5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
  width: calc(100% + 10px);
 }
}

.home-text {
margin: 250px 0px;
width: 50%;
}

.home-text h1 {
padding: 20px 0px;
font-size: 30px;
}

.home-text h2 {
color: #a7a3a3;
font-size: 18px;
}

.img-home {
margin-top: 100px;
height: 200px;
width: 200px;
}

.image-home {
height: 600px;
width: 600px;
}

.home-input {
margin-top: 10px;
width: 160px;
height: 35px;
background-color: crimson;
border-radius: 8px;
color: #ffffff;
text-align: center;
font-size: 20px;
}

.home-input:hover {
transition: 0.8s;
transform: scale(1.1);
cursor: pointer;
}
