.produtos {
    min-height: 800px;
    max-height: auto;
width: 100%;
background-color: #1a1a1a;
margin: auto;
color: #ffffff;

}

.more {

font-size: 70px;
cursor: pointer;
}

.last-p {
margin: auto;
width: 90%;
display: flex;
flex-wrap: wrap;
height: 800px;
max-height: auto;
}

.produtos h5 {
margin-top: auto;
text-align: center;
text-decoration: underline red 2px;
font-size: 30px;
width: 100%;
height: 150px;
}

.p {
flex: 0 0 5%;
margin: 20px auto 0px auto;
width: 250px;
height: 430px;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);
cursor: pointer;
}

.p img {
width: 250px;
height: 200px;
}

.p h1 {
margin-top: 10px;
font-size: 15px;
width: 100%;
}

.p h2 {
text-align: center;
color: rgb(0, 227, 0);
margin-top: 20px;
}

.stars {
margin-top: 5px;
color: #a7a3a3;
}

.add2cart {
width: 180px;
height: 50px;
margin: 20px 40px;
border: none;
background-color: #b62626;
border-radius: 10px;
color: white;
font-size: 18px;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.422);
cursor: pointer;
}
.add2cart:hover {
transform: scale(1.1);
transition: 0.8s;
cursor: pointer;background-color: transparent;
color: white;
border: solid 2px white;
}