@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
margin: 0;
padding: 0;
font-family: 'Open Sans';
scroll-behavior: smooth;
}



.resgisterForm {
    width: 600px;
    height: 600px;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    box-shadow: black, 5px, 5px, 5px;
    background-color: rgb(28, 28, 39);
    border-radius: 10px;
}

.resgisterForm h1 {
 margin: 40px auto;
}

.resgisterForm h2 {
font-size: 30px;
margin: auto;
}

.resgisterFormlabel {
 font-size: 30px;
}

.form-group {
 margin-top: 50px;
 text-align: center;
 margin-right: 40px;
 font-size: 30px;
}

.resgisterForm input {
    margin-top: 20px;
    border: none;
    width: 350px;
    background-color: transparent;
    border-bottom: solid 2px red;
    color: white;
    font-size: 20px;
    outline: none;
}

.resgisterForm button {
 width: 300px;
 height: 60px;
 border-radius: 15px;
 font-size: 25px;
 margin: 40px auto;
 background-color: red;
 border: none;
 color: white;
 cursor: pointer;
}

.resgisterForm button:hover {
 transition: 0.6s;
 transform: scale(1.1);
 border: 2px solid white;
 background-color: transparent;
}

.resgisterForm p {
    
    font-size: 24;
    color: white;
    margin: 10px auto;
}